<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Library</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Your Movies</h1>
        <h2>Welcome to your movies library!</h2>

        <ul>
            <% movieLibrary.forEach(movie => { %>
                <li>
                    <a href="/users/<%= user._id%>/libraries/<%= movie._id %>">
                    <%= movie.name %>
                    </a>
                </li>
           <% }) %>
        </ul>
</body>

</html>

