<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/global.css">
  <title>Home Page</title>
</head>

<body>
 <%- include('./partials/_navbar.ejs') %>

  <% if (user) { %>
    <h1>Welcome to your library, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign Out</a>
      
    </p>
    <% } else { %>
      <h1>Welcome to the MediaPlex!</h1>
      <h3>A place where you can catalog your many types of media (i.e. movies, books, cds,etc..) and request to borrow from others!</h3>
      <div id="account-access" class="links">
        <a id="sign-up-button" href="/auth/sign-up">Sign up</a> or
        <a id="sign-in-button" href="/auth/sign-in">Sign in</a>
      </div>
      <% } %>

     

</body>

</html>