<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/global.css">
  <title>Home Page</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>

    <% if (user) { %>
      <h1>Welcome to your library, <%= user.username %>!</h1>
      <p>
        <a href="/auth/sign-out">Sign Out</a>

      </p>
      <% } else { %>
        <h1>Welcome to the MediaPlex!</h1>
        <h3>A place where you can catalog your many types of media (i.e. movies, books, cds,etc..) and request to borrow
          from others!</h3>
        <img src="/images/MultiPlex-App-Logo.png"
          alt="Logo for Multiplex, its a shield witha compass on it pointing to the catagories" id="mediaplexLogo"
        <div id="account-access" class="links">
          <a id="signUpLink" href="/auth/sign-up">Sign up</a> or
          <a id="signInLink" href="/auth/sign-in">Sign in</a>
        </div>
        <% } %>



</body>

</html>