body {
    display: grid;
    background-color: #778899;
    justify-items: center;
}

nav {
    display: flex;
    background-color: darkslategray;
    gap: 8px;
    padding: 5px;
    justify-content: left;
    text-align: left;
    width: 100%;
    color: #000000;
    font-weight: bold;
}

.navBar {
    color: black;
    text-decoration: none;
}

.navBar:hover {
    color: white;
}

.appTitle {
    background-color: slategray;
    color: black;
    padding: 1px;
    border-radius: 5px;
}

h1 {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

}

.signInButton,
.signUpButton {
    display: inline-block;
    font-size: 20px;
    padding: 2px;
    background-color:#2f4f4f;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

#addToLibraryButton {
    margin: 20px;
    border-radius: 5px;
    position: relative;
    top: -12px;
    
}

#addToLibraryButton:hover {
    background-color: green;
}

#deleteButton {
    border-radius: 5px;
}

#deleteButton:hover {
    background-color: red;
    color: white;
}

#account-access {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#signUpLink,
#signInLink {
    display: inline-block;
    font-size: 20px;
    padding: 2px;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.horizontal-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal-list li {
    margin-right: 15px;
}

.libraryLink,
.addNewLink,
.movieLink,
.editLink {
    text-decoration: none;
}

.editLink {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    background-color: darkslategrey;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

#librarySelectionPara {
    text-align: center;
}

#navDiv {
    color: darkblue;
}

input {
    border-radius: 5px;
}